<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre el Mundo</title>

    <!-- Leaflet.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Leaflet.js JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link href="css/output.css" rel="stylesheet">

    <style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('images/fondo3.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #map {
        height: 500px;
        width: 100%;
    }

    #side-buttons {
        position: fixed;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    .side-button {
        display: block;
        margin-bottom: 25px;
        text-align: center;
        padding: 15px 20px;
        border-radius: 50px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
    }

    .side-button img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .side-button:hover {
        transform: scale(1.1);
    }

    nav {
        padding: 10px 0;
    }

    .nav-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        max-width: 150px;
        margin-left: -170px;
    }

    .nav-title {
        text-align: center;
        flex-grow: 1;
    }

    .nav-title h1 {
        font-size: 35px;
        font-weight: bold;
        margin: 0;
    }

    .nav-title p {
        font-size: 18px; 
        color: #555;
        margin: 0;
    }

    .nav-links {
      max-width: 100px;
        display: flex;
        gap: 70px;
        margin-left: 170px;
    }

    .nav-links a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 30px;
        background-color: #18213b;
        transition: background-color 0.3s ease;
    }

    .nav-links a:hover {
        background-color: #5e6a90;
    }


    .header {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px 20px;
        text-align: center;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .header h1 {
        font-size: 48px;
        font-weight: bold;
        color: #18213b;
        margin: 0;
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .header p {
        font-size: 28px;
        color: #18213b;
        margin: 0;
        padding: 10px;
    }

    .info-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin: 20px auto;
        max-width: 800px;
        border-radius: 20px
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        margin-left: 170px;
    }

    #map-container {
      position: relative;
      left: 0px;
    }

    .info-container2 {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin: 20px auto;
        max-width: 800px;
        border-radius: 20px
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        margin-right: 30px;
        margin-top: -550px;
    }
    
    .curious-fact-card {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .curious-fact-card h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-top: 0;
    }

    .curious-fact-card p {
        font-size: 18px;
        color: #555;
        margin-bottom: 0;
    }
</style>
</head>

<body class="h-full">
    <div class="header">
    <nav class="nav-container flex-items aling-items">
        <div class="logo text-center">
                <img src="images/logo.png" alt="Perfil">
           
        </div>
        <div>
            <h1>¡Descubre el Mundo!</h1>
            <p>Explora, aprende y déjate llevar por la curiosidad</p>
        </div>
        <div class="nav-links">
            <a href="/lessons_details">COMENZAR A APRENDER</a>
        </div>
    </nav>
    </div>
    <div id="side-buttons">
  <a href="/profile" class="side-button bg-blue-200 hover:bg-blue-400 text-black font-bold py-3 px-5 rounded-full shadow-md">Perfil</a>
<a href="https://es.wikipedia.org/wiki/Geograf%C3%ADa" class="side-button" target="_blank">
    <img src="images/world_icon.png" alt="¿Qué es la geografía'">
  </a>
  <a href="https://www.repsol.com/es/energia-futuro/futuro-planeta/como-cuidar-el-medio-ambiente/index.cshtml"
    class="side-button" target="_blank">
    <img src="images/corazon1.jpg" alt="Cuidemos el planeta">
  </a>
  <a href="https://librosparaimaginar.com.mx/wp-content/uploads/2020/03/InterioresElGranPoder.pdf"
    class="side-button" target="_blank">
    <img src="images/tree.png" alt="Naturaleza">
  </a>
</div>
<div class="info-container">
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
    <div class="info-container2">
        <div class="curious-facts" id="curious-facts">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var map = L.map('map').setView([0, 0], 2);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var curiousFacts = [
    { title: 'Altitud del Monte Everest', fact: '8,848 metros' },
    { title: 'Punto más profundo del océano', fact: 'La fosa de las Marianas, 10,994 metros' },
    { title: 'País más grande del mundo por área', fact: 'Rusia' },
    { title: 'Río más largo del mundo', fact: 'El río Amazonas, con una longitud aproximada de 6,400 km' },
    { title: 'Lago más grande del mundo por área de superficie', fact: 'El mar Caspio' },
    { title: 'Ciudad más poblada del mundo', fact: 'Tokio, Japón' },
    { title: 'Ciudad más alta del mundo', fact: 'La Rinconada, Perú' },
    { title: 'País más pequeño del mundo', fact: 'Ciudad del Vaticano' },
    { title: 'Desierto más grande del mundo', fact: 'El desierto de Antártida' },
    { title: 'Montaña más alta fuera del sistema Himalaya', fact: 'El monte Aconcagua en Argentina, con 6,959 metros de altura' },
    { title: 'Volcán más alto del mundo', fact: 'El volcán Ojos del Salado en la frontera entre Argentina y Chile, con 6,893 metros de altura' },
    { title: 'Lago más profundo del mundo', fact: 'El lago Baikal en Rusia, con 1,642 metros de profundidad' },
    { title: 'Lago más salado del mundo', fact: 'El mar Muerto' },
    { title: 'País con más islas', fact: 'Suecia' },
    { title: 'País sin ríos', fact: 'Arabia Saudita' },
    { title: 'Río más caudaloso del mundo', fact: 'El río Amazonas' },
    { title: 'Río más corto del mundo', fact: 'El río Roe en el estado de Montana, EE. UU., con solo 61 metros de longitud' },
    { title: 'Ciudad más antigua del mundo', fact: 'Damasco, Siria' },
    { title: 'País más densamente poblado del mundo', fact: 'Mónaco' },
    { title: 'País más plano del mundo', fact: 'Maldivas' },
    { title: 'País con más volcanes', fact: 'Indonesia' },
    { title: 'País con más fronteras internacionales', fact: 'China' },
    { title: 'País con más idiomas oficiales', fact: 'Zimbabue' },
    { title: 'Río más ancho del mundo', fact: 'El río Amazonas' },
    { title: 'Mayor isla del mundo', fact: 'Groenlandia' },
    { title: 'País más llano del mundo', fact: 'Maldivas' },
    { title: 'País con más lagos', fact: 'Canadá' },
    { title: 'País con más variedad de climas', fact: 'Brasil' },
    { title: 'País más montañoso del mundo', fact: 'Bután' },
    { title: 'País con más tiempo en horas de sol al año', fact: 'Níger' },
    { title: 'País con más ríos', fact: 'Bangladesh' },
    { title: 'País con más tiempo en horas de luz al día', fact: 'Finlandia' },
    { title: 'País con más ciudades elevadas a más de 3,000 metros', fact: 'Bolivia' },
    { title: 'País más pequeño de América Latina', fact: 'San Cristóbal y Nieves' },
    { title: 'País más pequeño de Europa', fact: 'Vaticano' },
    { title: 'País más grande de América del Sur', fact: 'Brasil' },
    { title: 'País con más variedad de climas', fact: 'Chile' },
    { title: 'País con más islas', fact: 'Suecia' },
    { title: 'País con mayor cantidad de lagos', fact: 'Finlandia' },
    { title: 'País con mayor cantidad de ríos', fact: 'Bangladesh' },
    { title: 'País con mayor cantidad de montañas', fact: 'Nepal' },
    { title: 'País con mayor cantidad de desiertos', fact: 'Australia' },
    { title: 'País con más fronteras terrestres', fact: 'China' },
    { title: 'País con más tiempo de luz solar al año', fact: 'Brasil' },
    { title: 'País con más diversidad de paisajes', fact: 'México' },
    { title: 'País con más islas volcánicas', fact: 'Indonesia' },
    { title: 'País con la mayor concentración de ríos', fact: 'Bangladesh' },
    { title: 'País con la mayor variedad de climas', fact: 'Brasil' },
    { title: 'País con la mayor altitud promedio', fact: 'Bután' }
    
];

            function createCuriousFactCard(title, fact) {
                var card = '<div class="curious-fact-card">';
                card += '<h2>' + title + '</h2>';
                card += '<p>' + fact + '</p>';
                card += '</div>';
                return card;
            }

            function updateCuriousFacts() {
                $('#curious-facts').empty();
                for (var i = 0; i < 4; i++) {
                    var randomIndex = Math.floor(Math.random() * curiousFacts.length);
                    var fact = curiousFacts[randomIndex];
                    var card = createCuriousFactCard(fact.title, fact.fact);
                    $('#curious-facts').append(card);
                }
            }

            updateCuriousFacts();

            function showNextCard() {
                $('.curious-fact-card').fadeOut(300);
                updateCuriousFacts();
            }

            setInterval(showNextCard, 10000);
        });
    </script>
    
</body>

</html>
