<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Estilos para mostrar el video en pantallas grandes y ocultarlo en móviles */
        @media (min-width: 1024px) {
            #bg-video {
                display: block;
            }
            /*
            .mobile-bg {
                display: none;
            }
            */
        }

        @media (max-width: 1023px) {
            #bg-video {
                display: none;
            }
            .mobile-bg {
                display: block;
                background-image: url('images/fondoindexcelular.png');
                background-size: cover;
                background-position: center;
            }
        }
    </style>
</head>

<body class="bg-blue-600 lg:bg-transparent mobile-bg">
    <video autoplay muted loop id="bg-video" class="fixed top-0 left-0 min-w-full min-h-full w-auto h-auto z-[-1] object-cover">
        <source src="/videos/background_index.mp4" type="video/mp4">
        Tu navegador no soporta el video de fondo.
    </video>

    <div class="relative z-10 flex flex-col justify-end h-screen">
        <header class="absolute inset-x-0 top-0 z-50 text-white">
            <nav class="flex items-center justify-between p-6 lg:px-8">
                <div class="flex-shrink-0">
                    <a href="#" class="text-lg font-bold">Geogef</a>
                </div>
                <div class="lg:hidden">
                    <button id="menu-toggle" class="p-2 text-white-700">
                        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex gap-x-6">
                    <a href="https://forms.gle/sksYgutNhn4soYV89" class="text-white font-semibold hover:text-gray-200">Contacto</a>
                    <a href="#" id="donation-button" class="text-white font-semibold hover:text-gray-200">Donaciones</a>
                    <a href="/login" class="text-white font-semibold bg-gray-700 px-4 py-2 rounded-md hover:bg-gray-800">Ingresar</a>
                </div>
            </nav>

            <div id="mobile-menu" class="hidden lg:hidden bg-white p-6 space-y-4">
                <a href="https://forms.gle/sksYgutNhn4soYV89" class="block text-gray-900 font-semibold">Contacto</a>
                <a href="#" id="donation-button-mobile" class="block text-gray-900 font-semibold">Donaciones</a>
                <a href="/login" class="block text-gray-900 font-semibold">Ingresar</a>
            </div>
        </header>
        <div class="p-6 lg:p-8 flex justify-end items-end">
            <div class="flex flex-col items-start space-y-4">
                <!-- Botón de "Comenzar" -->
                <a href="/signup" class="bg-yellow-400 text-gray-900 font-semibold px-6 py-3 rounded-md shadow hover:bg-yellow-500">Comenzar</a>
                <!-- Botón de GitHub -->
                <a href="https://github.com/eg-v/project-geography/blob/main/README.md" class="bg-white text-gray-900 font-semibold px-6 py-3 rounded-md shadow hover:bg-gray-100" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div id="donation-modal" class="hidden fixed inset-0 z-50 bg-black bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg text-center">
            <span id="close-modal" class="text-gray-500 cursor-pointer text-xl">&times;</span>
            <h2 class="text-xl font-semibold mb-4">¡Ayúdanos con tu donación!</h2>
            <p class="mb-4">Escanee el código QR con su aplicación de pago bitcoin para donar.</p>
            <img src="images/qrbitcoin.jpeg" alt="Código QR de donación" class="mx-auto mb-4">
            <p class="text-sm text-gray-500">Dirección: bc1qhwfvk3k8jpxjg8c0dt6md25y3qlkwmvgcmzw39</p>
            <p class="text-sm text-gray-500">Su apoyo es crucial para nuestro proyecto. ¡Gracias por donar!</p>
        </div>
    </div>

    <footer class="absolute bottom-0 w-full text-center text-white">
        <p>&copy; 2024 Geogef. Licensed under the GPL-3 License.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.getElementById('menu-toggle');
            const mobileMenu = document.getElementById('mobile-menu');
            const donationButton = document.getElementById('donation-button');
            const donationModal = document.getElementById('donation-modal');
            const closeModal = document.getElementById('close-modal');

            // Menú desplegable para móviles
            menuToggle.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });

            // Modal para donaciones
            donationButton.addEventListener('click', () => {
                donationModal.classList.remove('hidden');
            });

            closeModal.addEventListener('click', () => {
                donationModal.classList.add('hidden');
            });

            window.addEventListener('click', (event) => {
                if (event.target === donationModal) {
                    donationModal.classList.add('hidden');
                }
            });
        });
    </script>
</body>

</html>
