<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title><%= @title || "Geogef" %></title>
</head>

<body class="bg-center bg-repeat min-h-screen bg-[url('/images/fondo3.jpg')]">
    <%= erb :'shared/navbar' %>
    <div class="pt-24 mb-4">
        <%= yield %>
    </div>
</body>

</html>
