<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Levels</title>
    <link rel="stylesheet" href="/styles/lessons-levels.css">
</head>
<body>
    <main class="container">
        <!-- Iterar sobre cada lección para mostrar los niveles -->
        <% @lessons.each do |lesson| %>
            <div class="lesson-container">
                <div class="lesson-title">
                    <%= h(lesson.title) %>
                </div>
                <!-- Iterar sobre cada nivel de la lección -->
                <% (1..lesson.num_levels).each do |level| %>
                    <div class="level-container">
                        <% if level_completed?(lesson, level) %>
                            <div class="lesson-circle locked">
                                <img src="/images/mundonormal.png" alt="Earth Logo">
                                <div class="status-icon">
                                    <svg class="icon-check" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                        <% elsif current_level?(lesson, level) %>
                            <a href="/lessons/levels/<%= lesson.id %>/<%= level %>" class="lesson-circle unlocked">
                                <img src="/images/mundonormal.png" alt="Earth Logo"> 
                            </a>
                        <% else %>
                            <div class="lesson-circle locked">
                                <img src="/images/mundorojo.png" alt="Earth Logo"> 
                            </div>
                        <% end %>
                        <!-- Mostrar una línea entre niveles si no es el último nivel -->
                        <% unless level == lesson.num_levels %>
                            <div class="lesson-line"></div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </main>
</body>
</html>
