<%# Set the title for the page %>
<% @title =  "Lesson" %>

<div class="container mx-auto px-4 text-center text-white">
  <h1 class="text-4xl font-bold bg-gray-800 bg-opacity-90 inline-block p-4 rounded-md mb-8 animate-enter-title">
    Explora nuestras lecciones
  </h1>

  <div class="lesson-cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-center">
    <%# Iterar sobre cada lección para mostrar las tarjetas de lecciones %>
    <% @lessons.each do |lesson| %>
      <div class="lesson-card bg-white rounded-lg shadow-md p-6 transition-transform transform hover:translate-y-[-10px] border-2 border-gray-800 animate-enter-info">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2"><%= lesson[:title] %></h2>
        <p class="text-gray-600 mb-4"><%= lesson[:description] %></p>
      </div>
    <% end %>
  </div>

  <a href="/lessons/levels" class="mt-8 inline-block bg-gray-800 text-white py-4 px-8 rounded-lg transition-colors hover:bg-indigo-600 font-bold text-xl animate-enter-info">
    ¡Comenzar a aprender!
  </a>
</div>
