<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link href="css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="max-w-4xl mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md p-6 mb-6 justify-center items-center">
      <h2 class="text-xl font-semibold mb-4 text-center" id="question"></h2>
      <div id="center-svg-container" class="items-center justify-center flex">
        <div id="svg-container" class="flex justify-center c items-center w-36 h-36" >
        </div>
      </div>
      <div class="mb-4 text-center items-center justify-center flex" id="options"></div>
    </div>
  </div>s

    </div>
    <script src="js/quiz.js"></script>
</body>

</html>
