<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link href="css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
      <div class="max-w-4xl mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-md p-6 mb-6">
            <h2 class="text-xl font-semibold mb-4" id="question"></h2>
            <div class="mb-4" id="options">
            </div>
        </div>

        <div id="result" class="mt-4 text-center font-semibold"></div>
    </div>
    <script src="js/quiz.js"></script>
</body>

</html>
